E2B_API_KEY=
E2B_API_URL=https://api.cn-beijing.e2b.fc.aliyuncs.com
E2B_DOMAIN=cn-beijing.e2b.fc.aliyuncs.com
E2B_DESKTOP_IMAGE=fc-e2b-registry.cn-beijing.cr.aliyuncs.com/runtime/desktop:v0.0.48
E2B_DESKTOP_TEMPLATE=custom-desktop-v0048-20260901
# E2B_DESKTOP_TEMPLATE_ID=
